.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.character-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.pokemons-list{
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(64, 64, 65, 0.062);
}

ul{ 
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    font-size: 20px;
    transition: 250ms all ease;
    cursor: pointer;
}
p{
    margin: 0;
    transition: 250ms all ease;
}
li:hover{
    color: rgb(24, 143, 211);
}